@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

body{
font-family: 'Arvo', serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
  padding: 80px 0;
}

.subtitle {
  color: var(--black2);
  font-size: 2.5rem;
  margin-bottom: 35px;
  font-weight: 700;
  text-align: center;
}

/*----------------header--------------------*/

.header_nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  font-weight: 700;
  margin: 10px 40px  0 40px; 
  
}

.header_background {
  width: 100%;
  height: 620px;
  position: relative;
  z-index: -9999;
  margin-top: -70px;
  object-fit: cover;

  /*linear-gradient(to right, #000000, #0f9b0f); */
}

.header_color {
  background: rgba(3, 3, 3, 0.596);
  margin-top: -70px;
}

.nav_logo {
  font-size: 30px;
  padding: 0 20px;
  color: #fff;
  font-weight: 500;
  align-content: center;


}



.nav_item  {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  transition-duration: 1s;
  position: relative;
}

.nav_item::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #56199a;
  transition: width 0.5s;
  border-radius: 1px;
}

.nav_item:hover::after {
  width: 100%;
  transition: width 0.5s;
  position: relative;
  z-index: 99;
}

.nav_nombre {
  color: #56199a;
  font-weight: 900;
}

/*hedaer main*/

.header_main {
  display: flex;
  background: #fff;
  justify-content: space-evenly;
  justify-content: space-evenly;
  justify-content: space-evenly;
  max-width: 950px;
  height: 450px;
  padding: 40px 0;
  justify-content: space-evenly;
  justify-content: space-evenly;
  justify-content: space-evenly;
  margin-top: -370px;
  position: relative;
  z-index: 99;
  box-shadow: 15px 15px 20px -3px rgba(0, 0, 0, 0.11);
}

.header_img {
  width: 30%;
  height: 350px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition-duration: 0.5s;
}

.header_foto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 0.5s;
}
.header_img:hover {
  box-shadow: -1px 25px 32px 0px rgba(0, 0, 0, 0.77);
  -webkit-box-shadow: -1px 25px 32px 0px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: -1px 25px 32px 0px rgba(0, 0, 0, 0.77);
}

.header_foto:hover {
  transform: scale(1.2, 1.2);
}

.header_icons:hover {
  color: #000;
  transition: 0.3s;
}

.header_icon:hover {
  color: #fff;
  transition: 0.3s;
}

.header_icons {
  display: flex;
}

.icon_link {
  margin: 0 40px 0 0;
  color: #56199a;
  text-decoration: none;
  font-size: 50px;
  margin-top: 20px;
}

.header_about {
  width: 60%;
}

.about_name {
  font-size: 30px;
}

.about_ocupacion {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: start;
}

.about_informacion {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about_copys {
  margin-right: 100px;
    margin-left: 20px;
  color: #3c424a;
  font-weight: 500;
}

.about_about_text,
.about_copy {
  margin: 15px 0;
}


.header_CV {
  background: #dddddd;
  margin-top: -85px;
  height: auto;
  padding-top: 140px;
  text-align: center;
}

.header_descargar {
  border: 2px solid #56199a;
  text-decoration: none;
  color: #56199a;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 6px;
  border-radius: 6px;
  border-radius: 6px;
  font-size: 25px;
  transition: 0.3s;
}

.CV_perfil {
  align-items: center;
  width: 70%;
  width: 70%;
  width: 70%;
  font-size: 20px;
  margin: 0 auto;
  padding: 90px 0 60px 0;
}

.header_descargar:hover {
  color: #fff;
  background: #56199a;
}

/* -----------------------SKILLS-----------------------*/

.habi_skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;

  background: #dddddd;
  padding: 20px 40px;
  box-shadow: 15px 15px 20px -3px rgba(0, 0, 0, 0.11);
}

.habi_skill {
  width: 50%;
  margin: 20px 0;
}

.habi_copy {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: 300;
}

.habi_bar {
  width: 90%;
  margin-left: 3px;
  background: #b997de;
  display: block;
  height: 4px;

  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 4px #7b06fd;
}

.habi_bar span {
  height: 4px;
  float: left;
  background: #7337b5;
}

.skill_python {
  width: 50%;
  animation: python 2s;
  /*animation-iteration-count: infinite;
    animation-delay: 3s;
*/
}

.skill_html {
  width: 60%;
  animation: html 2s;
}

.skill_control {
  width: 70%;
  animation: SC 2s;
}

.skill_IoT {
  width: 60%;
  animation: IoT 2s;
}

.skill_Deep {
  width: 50%;
  animation: DP 2s;
}

.skill_PLCs {
  width: 40%;
  animation: PLCs 2s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes SC {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes DP {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes IoT {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes PLCs {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

.habi_fonter {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

/*-------------------------------Educaion-------------------------------*/

.educacion {
  background: #dddddd;
}

.educacion_cards {
  max-width: 950px;
  display: flex;
  /*flex-direction: row-reverse;*/
  /*flex-direction: row-reverse;*/
  /*flex-direction: row-reverse;*/
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;

  margin: 0px auto;
}

.educacion_card {
  position: relative;
  width: 30%;

  height: 180px;
  background: #0F2027;  /* fallback for old browsers */
  background: linear-gradient(to top, rgba(8, 17, 21, 0.41), #13282f, rgba(12, 23, 28, 0.78));  
  margin: 60px 10px;
  padding: 20px 20px;
  transition: 0.5s ease-in-out;
  
}

.educacion_card:hover {
  height: 520px;
}

.educacion_img {
  width: 80%;
  height: 210px;
  object-fit: contain;

  position: absolute;
  background: #fff;
  padding: 10px;
  top: -60px;
  left: 10%;
}

.educacion_title {
  padding-bottom: 10px;
}

.eduacion_text {
  width: 100%;
  width: 100%;
  width: 100%;

  color: #fff;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  opacity: 0;
  opacity: 0;
  transition: 0.5s;
}

.educacion_card:hover .eduacion_text {
  visibility: visible;
  opacity: 1;
  margin-top: 140px;
  transition-delay: 0.2s;
}

.educacion_copy {
  margin-bottom: 5px;
}

.educacion_link {
  margin-bottom: 20px;
  color: #fff;
  width: 60%;
  background: #56199a;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
}

.educacion_certificado {
  display: flex;
  flex-direction: column;
}

/*----------------------------------------Proyectos----------------------------------------*/

.proyectos_cards {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.proyecto_card {
  width: 30%;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 0;
  left: 0;
  height: 400px;
  margin: 20px 0;
  background: #000;
}

.proyecto_imagenbx {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.proyecto_imagen {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-fit: cover;
  object-fit: cover;
  position: absolute;
  position: absolute;
  position: absolute;
  transition: 0.8s;
}

.proyecto_texto {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #151515ec;
  overflow: hidden;
  transition: 0.5s;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
}

.proyecto_copy {
  opacity: 0;
  visibility: hidden;
}

.proyecto_mas {
  text-decoration: none;
  background: #56199a;
  color: #fff;
  padding: 15px 30px;
  padding: 15px 30px;
  padding: 15px 30px;
}

.proyecto_card:hover .proyecto_texto {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.692);
}

.proyecto_copys {
  margin-top: 20px;
  margin-bottom: 90px;
}

.proyecto_card:hover .proyecto_copy {
  opacity: 1;
  visibility: visible;
}

/*-------------------------------Footer-------------------------------*/

.footer {
  width: 100%;
  background: #000;
  height: auto;
}

.footer_nav {
  text-align: center;
  align-items: center;
  padding-bottom: 14px;
}

.header_icons {
  justify-content: center;
  margin: 10px 0px;
}

.footer_icon {
  margin: 20px 0;
}

.footer_copyright {
  color: #fff;
  margin: 50px 0 0 0;
}

@media screen and (max-width: 1000px) {
  .soliwork {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .soliwork {
    display: none;
  }

  .proyecto_card {
    width: 45%;

  }

  .educacion_card {
    width: 45%;
  }
  .header_nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .header_main {
    flex-direction: column;
    height: 900px;
    padding: 40px 0;
    margin-top: -430px;
    position: relative;
    z-index: 99;
    text-align: center;
      
  }
    
    .header_bg{
        position: relative
        
    }
    

  .header_about {
      width: 90%;
      margin: 0 auto;
      text-align: start;
  }

  .proyecto_card {
    width: 80%;
  }

  .header_img {
    width: 70%;
    height: 350px;
    margin-left: 15%;
  }
  .header_CV {
    margin-top: -520px;
    padding-top: 570px;
  }

  .educacion_card {
    width: 70%;
  }

  .habi_skills {
    flex-direction: column;

  }
  .habi_skill {
    width: 80%;
  }
  .header_nav {
      margin-bottom: 30px
  }
  .nav_itemss {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .header_main {
    margin-top: -380px;
  }
}






@media screen and (max-width: 380px) {
  .header_main {
    flex-direction: column;
    height: 900px;
    padding: 40px 0;
    margin-top: -430px;
    position: relative;
    z-index: 99;
    text-align: center;
      
  }
    

    

  .header_about {
      width: 100%;
      margin: 0  auto;
      text-align: start;
  }

  .proyecto_card {
    width: 80%;
  }

  .header_img {
    width: 70%;
    height: 350px;
    margin-left: 15%;
  }
  .header_CV {
    margin-top: -610px;
    padding-top: 650px;
  }

  .educacion_card {
    width: 70%;
  }

  .habi_skills {
    flex-direction: column;

  }
  .habi_skill {
    width: 80%;
  }

  .nav_itemss {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
   
  
  .header_main {
    margin-top: -290px;
  }
}











































